body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orangered;
}
.flexable-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    height: 80%;
    width: 100%;
}
.link-button{
    text-decoration: none;
   background-image: linear-gradient(salmon,orange);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font: weight 700px; ;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
#dream-colour{
    color: magenta;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
